.vscode
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
main-file.exe
main-console.exe
v0_2-main.exe
final-sarasai/sarasas1-vargsiukai.txt
final-sarasai/sarasas2-kietiakiai.txt
final-sarasai/sarasas2-vargsiukai.txt
final-sarasai/sarasas3-kietiakiai.txt
final-sarasai/sarasas3-vargsiukai.txt
final-sarasai/sarasas4-kietiakiai.txt
final-sarasai/sarasas4-vargsiukai.txt
final-sarasai/sarasas5-kietiakiai.txt
final-sarasai/sarasas5-vargsiukai.txt
sarasai/sarasas1.txt
sarasai/sarasas2.txt
sarasai/sarasas3.txt
sarasai/sarasas4.txt
sarasai/sarasas5.txt
