.vscode
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
main-console.exe
sarasai/sarasas1.txt
sarasai/sarasas2.txt
sarasai/sarasas3.txt
sarasai/sarasas4.txt
sarasai/sarasas5.txt
.vscode/settings.json
sarasas1-kietiakiai.txt
sarasas1-vargsiukai.txt
sarasas1.txt
sarasas2-kietiakiai.txt
sarasas2-vargsiukai.txt
sarasas2.txt
sarasas3-vargsiukai.txt
sarasas3-kietiakiai.txt
sarasas3.txt
sarasas4-kietiakiai.txt
sarasas4-vargsiukai.txt
sarasas4.txt
sarasas5-kietiakiai.txt
sarasas5-vargsiukai.txt
sarasas5.txt
.gitignore
